  echo "Build for Ubuntu 18.04."
  echo ""
  echo "To run on other platforms, build from https://github.com/CasperLabs/casper-node"
  echo " cd node"
  echo " cargo build --release"
  echo ""
  echo "git commit hash: ${{ env['GITHUB_SHA'] }}"